@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  font-size: larger;
  background: white;
  font-family: "shrikhand", cursive;
  text-align: center;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.245);
  padding: 0.1rem;
}
@media (max-width: 991px) {
  header {
    background: none;
  }
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e7e7e7;
  padding: 0.5rem;
  font-weight: lighter;
  color: #535353;
  font-size: smaller;
}
.presentation i {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.reservation {
  background: #f1f1f1;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.reservation h2 {
  font-size: 2rem;
}
.reservation p {
  color: #5a5a5a;
  font-size: 1.5rem;
}
.reservation button {
  margin-top: 1rem;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.7483368347) 0%, #ff79da 80%);
  color: white;
  box-shadow: 2px 1px 8px -3px #000000;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 50ms;
}
.reservation button:hover {
  transform: scale(1.028);
}

.fonctionnement {
  background: white;
  counter-reset: number;
}
@media (max-width: 991px) {
  .fonctionnement {
    background: none;
  }
}
.fonctionnement ol {
  padding: 0 1.5rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 991px) {
  .fonctionnement ol {
    flex-direction: column;
    margin: auto;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  box-shadow: 2px 1px 8px -3px #000000;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 1.5rem;
  flex-grow: 1;
  font-weight: bold;
  transform: scale(1);
  transition: transform 50ms;
}
.fonctionnement li::before {
  counter-increment: number;
  content: counter(number);
  background-color: #9356DC;
  color: white;
  font-weight: 300;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -0.75rem;
}
.fonctionnement li:hover {
  transform: scale(1.028);
  background-color: #f2e8fd;
}
.fonctionnement li:hover i {
  color: #904fe0;
}
.fonctionnement li i {
  font-size: medium;
  color: gray;
  margin-right: 1.5rem;
}

.restaurants-disponibles {
  background: #f6f6f6;
}
.restaurants-disponibles .restaurants-disponibles__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 0.5rem;
}
@media (max-width: 991px) {
  .restaurants-disponibles .restaurants-disponibles__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants-disponibles .card__image {
  border-radius: 2rem;
  height: 10rem;
}
.restaurants-disponibles .card__image-1 {
  background: url("/assets/restaurant_1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.restaurants-disponibles .card__image-2 {
  background: url("/assets/restaurant_2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.restaurants-disponibles .card__image-3 {
  background: url("/assets/restaurant_3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.restaurants-disponibles .card__image-4 {
  background: url("/assets/restaurant_4.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

h2 {
  margin: 1rem 0;
  padding: 0 0.8rem;
}

/*# sourceMappingURL=style.css.map */
