body {
  max-width: 1200px;
  margin: auto;
}

* {
  margin: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

h2 {
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
}

h3 {
margin: 0;
}

