@use "../utils/variables.scss";
@use "../utils/colors";
@use "../utils/mixins.scss";

.description {
  &__poster {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }
  &__nom {
    position: relative;
    & h2 {
      font-family: "shrikhand", cursive;
      font-weight: 500;
      font-size: 1.7rem;
      background: colors.$background-grey;
      margin-top: -2rem;
      padding: 1.5rem 0 1rem 1rem;
      border-radius: 2rem 2rem 0 0;
      margin-bottom: 0;
    }

    @include mixins.heart;

    & i {
      top: 2.7rem;
      right: 2.6rem;
    }
  }
}

.menus {
  background: colors.$background-grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  @media (max-width: variables.$breakpoint) {
    // -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  &__entrées {
  }
  .plate-price {
    background: white;
  }
  & * {
    border: 1px solid red;
  }
}
