@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.fonctionnement {
  background: white;
  counter-reset: number;
  margin: 3rem 0rem 3rem 0rem;
  @media (max-width: 991px){
  background: none;
  }
  & ol {
    padding: 0 1.5rem;
    display: flex;
    gap: 2rem;
    @media (max-width: 991px){
      flex-direction: column;
      margin: auto;
    }
  }
  & li {
    &::before {
      counter-increment: number;
      content: counter(number);
      background-color: colors.$primary-color;
      color: white;
      font-weight: 300;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -0.75rem;
    }
    position: relative;
    list-style-type: none;
    background-color: #f6f6f6;
    @include mixins.b-shadow;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    flex-grow: 1;
    font-weight: bold;
    @include mixins.t-property;
    &:hover {
      @include mixins.t-scale;
      background-color: #f2e8fd;
      i{
        color: colors.$primary-color;
      }
    }
    & i {
      font-size: medium;
      color: gray;
      margin-right: 1.5rem;
    }
  }
}

