@use "../utils/colors.scss";

footer {
  background: colors.$footer-color;
  color: whitesmoke;
  padding-bottom: 1rem;
  & h3 {
    font-family: 'shrikhand', cursive;
    font-weight: 400;
    padding: 1.5rem 0 0.8rem 1.2rem;
  }
  & li {
    margin-left:-1.1rem;
    padding: 0.5rem 0 0rem 0rem;
    & i {
      font-size: 0.8rem;
      padding-right: 0.5rem;
    }
  }
}