header {
  font-size: larger;
  background: white;
  font-family: 'shrikhand', cursive;
  text-align: center;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.245);
  padding: 0.5rem;
  @media (max-width: 991px){
    background: none;
    }
}
