@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.reservation {
  background: rgb(241, 241, 241);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  & h2 {
    font-size: 2rem;
  }
  & p {
    color: rgb(90, 90, 90);
    font-size: 1.5rem;
  }
  & button {
    @include mixins.button;
  }
  & button:hover {
    @include mixins.t-scale;
    background: linear-gradient(
      0deg,
      lighten(#9356dc, 6%) 0%,
      lighten(#ff79da, 3%) 100%);
  }
}

.loader {
  position: fixed;
  z-index: 1;
  background-color: white;
  height: 100vh;
  inset: 0;
  opacity: 0.8;
  animation: disappear 0.18s forwards;
  display: grid;
  place-items: center;
  animation-delay: .98s;
  & i {
    animation: spin 0.48s linear infinite;
    font-size: 10em;
    color: colors.$tertiary-color ;
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

