@use "../utils/mixins.scss";

.reservation {
  background: rgb(241, 241, 241);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  & h2 {
    font-size: 2rem;
  }
  & p {
    color: rgb(90, 90, 90);
    font-size: 1.5rem;
  }
  & button {
    @include mixins.button;
  }
  & button:hover {
    @include mixins.t-scale;
  }
}
