@use "../utils/variables.scss";


.restaurants-disponibles {
  background: #f6f6f6;
  .restaurants-disponibles__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 0.5rem;
    @media (max-width: variables.$breakpoint){
      grid-template-columns: repeat(1, 1fr);
  }
  }
  .card {
  &__image {
  border-radius: 2rem;
  height: 10rem;
  }
  @for $i from 1 through 4 {
    &__image-#{$i} {
      background: url("/assets/restaurant_#{$i}.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
  }
}
}