@use "../utils/variables.scss";
@use "../utils/colors";


.restaurants-disponibles {
  background: #f6f6f6;
  .restaurants-disponibles__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 0.5rem;
    @media (max-width: variables.$breakpoint){
      grid-template-columns: repeat(1, 1fr);
  }
  .new {
    position: relative;
    &::before {
      content: "Nouvo'resto!";
      position: absolute;
      height: 2rem;
      width: 5.7rem;
      background-color: colors.$tertiary-color;
      color: darken(colors.$tertiary-color, 33%);
      font-weight: bold;
      display: grid;
      place-items: center;
      right: 1rem;
      bottom: 7rem;
      border-radius: .1rem;
    }
  }
  }
  .card {
  &__image {
  border-radius: 1.5rem;
  height: 10rem;
  }
  @for $i from 1 through 4 {
    &__image-#{$i} {
      background: url("/assets/restaurant_#{$i}.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
  }
}
}