@use "../utils/variables.scss";

.restaurants-disponibles {
  background: #f6f6f6;
  h2 {
    padding: 1rem;
  }
  .restaurants-disponibles__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 0.5rem;
    @media (max-width: variables.$breakpoint){
      grid-template-columns: repeat(1, 1fr);
  }
  }
  .card {
  border: 1px solid green;
  & .card__image {
    background: url("../../assets/restaurant_1.jpg");
    background-size: cover;
    height: 10rem;
  }
  }
}